
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



nav {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(240, 107, 107);
}

h1 {
    text-align: center;
}

form {
display: flex;
justify-content: center;
font-size: 25px;
}

input {
    padding: 5px;
}

#login-register-wrapper button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(240, 107, 107);;
    transition: 300ms;
}

#login-register-wrapper button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

#message-error {
    background-color: rgb(240, 107, 107);
    border: 2px solid red;
}

.message {
    display: flex;
    justify-content: center;
    width: 400px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#message-wrapper {
    display: flex;
    justify-content: center;
}

form a {
    font-size: 18px;
}

#close-message:hover {
    cursor: pointer;
}