@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand";
    margin: 0 auto;
}

input, select, button {
    font-family: "Quicksand";
    
}

h1 {
    font-size: 40px;
}

input {
    font-size: 20px;
}
 select {
    font-size: 17px;
 }

nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: "Quicksand";
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

#dashboard {
    padding: 20px;
}

li {
    display: inline-block;
    margin-right: 50px;
}


li a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.task form, #delete-tarea-buttons form, td form, #filter-wrapper form  {
    width: auto; /* Quita el ancho predeterminado */
    max-width: none; /* Asegura que no tenga un ancho máximo */
    min-width: 0; /* Asegura que no tenga un ancho mínimo */
}

#register form, #login form,#create-task form {
display: flex;
justify-content: center;
font-size: 25px;
}

input {
    padding: 5px;
}

#create-task form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-task-content {
    background-color: rgb(240, 107, 107);;
    border-radius: 10px;
    width: 700px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#create-task-content-wrapper{
    display: flex;
    justify-content: center;
}


#create-task button {
    padding: 10px;
    border: 0;
    background-color: #FFFF;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(240, 107, 107);
    transition: 300ms;
}

#create-task button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.task {
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.not-completed {
    background-color: rgb(232, 56, 56);
}

.completed {
    background-color: rgb(93, 233, 93);
}

.buttons-task {
    display: flex;
}

.buttons-task button {
    padding: 5px;
    font-size: 18px;
    border-radius: 7px;
    transition: 300ms;
    margin-right: 10px;
    border: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons-task button:hover {
    cursor: pointer;
    transform: scale(0.9);
}

#create-task {
    display: flex;
    justify-content: center;
}

#login-register-wrapper button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(240, 107, 107);;
    transition: 300ms;
}

#login-register-wrapper button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

#message-error {
    background-color: rgb(240, 107, 107);
    border: 2px solid red;
}

.message {
    display: flex;
    justify-content: center;
    width: 400px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#message-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}




#tarea-details{
    width: 800px;
    padding: 20px;
    border-radius: 10px;
}

.completed-False {
    background-color: rgb(240, 107, 107);
}

.completed-True {
    background-color: rgb(116, 222, 116);
}

#tarea-details-wrapper {
    padding: 70px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

form a {
    font-size: 18px;
}

#close-message:hover {
    cursor: pointer;
}

#delete-tarea {
    border: 1px solid;
    width: 400px;
}

#delete-tarea p {
    text-align: center;
}

#delete-tarea-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#delete-tarea {
    padding: 10px;
}

#delete-tarea-buttons {
    display: flex;
    justify-content: center;
}

#delete-tarea-buttons button{
    background-color: rgb(240, 107, 107);;
    padding: 10px;
    margin-left: 7px;
    border-radius: 10px;
    border: 0;
    transition: 300ms;
}


#delete-tarea-buttons button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.almost-finishing {
    background-color: rgb(218, 181, 49);
}



#task-list {
    display: flex;
    justify-content: center;
    font-size:25px;
    padding: 25px;
    text-align: center;
}

td{
padding: 15px;
}

thead td {
    margin-left: 20px;
}

tbody {
font-size: 20px;
}



table {
    border-collapse: separate;
    border-spacing:0 15px;
    width: 100%;
}


td:first-child {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

td a {
    text-decoration: none;
}

td form button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}


#filter-wrapper * {
    display: inline-block;
}

#filter-wrapper form > * {
    padding: 5px;
}